.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 140px;
}

.nav-items {
    padding: 0px 20px;
}
.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.search-filter-box {
    display: flex;
    padding: 10px;
}

.filter {
    margin-left: 10px;
}

.res-card {
    width: 250px;
    height: auto;
    padding: 10px;
    margin: 5px;
    overflow: hidden;
    overflow-wrap: break-word;
}

.res-card:hover{
    cursor: pointer;
    transition: all 0.05s ease 0s;
    gap: 12px;
    grid-auto-flow: row;
    justify-content: stretch;
    align-items: center;
    padding: 0px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-logo {
    width: 100%;
    border-radius: 16px 
}

.subtext {
    font-family: "Basis Grotesque Pro";
    font-size: 16px;
    font-weight: 200;
    line-height: 19px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.6);
}

.ratingTime {
    padding: 2px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.img-rest {
    display: flex;
    align-items: center;
}

.rest-description {
    margin-left:12px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 200px;
    height: 400px;
    margin: 20px;
    background-color: #f0f0f0;
}

.login {
    padding: 0 20px;
    cursor: pointer;
}